<!-- <img src="assets/list-pokemon-background.svg" alt="" /> -->
<a>
  <section class="pokemon-status">
    <h2>Pokemon Name</h2>
    <ul>
      <li>test</li>
      <li>test</li>
    </ul>
  </section>
  <section class="pokemon-image">
    <img src="assets/test-pokemon.svg" alt="" />
  </section>
</a>
<a>
  <section class="pokemon-status">
    <h2>Pokemon Name</h2>
    <ul>
      <li>test</li>
      <li>test</li>
    </ul>
  </section>
  <section class="pokemon-image">
    <img src="assets/test-pokemon.svg" alt="" />
  </section>
</a>
<a>
  <section class="pokemon-status">
    <h2>Pokemon Name</h2>
    <ul>
      <li>test</li>
      <li>test</li>
    </ul>
  </section>
  <section class="pokemon-image">
    <img src="assets/test-pokemon.svg" alt="" />
  </section>
</a>
<a>
  <section class="pokemon-status">
    <h2>Pokemon Name</h2>
    <ul>
      <li>test</li>
      <li>test</li>
    </ul>
  </section>
  <section class="pokemon-image">
    <img src="assets/test-pokemon.svg" alt="" />
  </section>
</a>
